<!DOCTYPE html>
<html lang="en">
    <head>
        <title>music data</title>
        <link rel="stylesheet" href="static/index.css">

    </head>

    <body>
        <div class="title-box">
            <p class="title">Exploratory Data Analysis of Ahn's Music Taste to Identify Factors Influencing Listening Probability</p>
            <p class="title">Interactive Data Visualization</p>
        </div>
        
        <div class="text-box">
        <p class="hypothesis"><strong>Hypothesis: </strong> Is Ahn's likelihood of listening to a song influenced by a specific characteristic of the song ?</p>
        <p class="paragraph"><strong>Purpose: </strong> Understand Ahn's underlying music preferences beyond the artist name.</p>
        <p class="paragraph"><strong>Approach: </strong> Export Ahn's most played playlist from Apple Music and query through the dataset to determine trends.</p>
        <p class="paragraph"><strong>Skills Applied: </strong> Excel, Python Flask, SQLite3, HTML, CSS, Querying</p>
        </div>

        <div class="text-box">
        <p class="paragraph"><strong>Guide:</strong> </p> 
            <ol>
                <a href='/data'><li><p class="paragraph">Access Interactive Data Visualization</p></li></a>
                <a href=''><li><p class="paragraph">Findings</p></li></a>
            </ol>
        </div>
        <div class="text-box">
            <p class="paragraph"><strong>Contact:</strong> </p> 
            <ul>
                <a href='https://www.linkedin.com/in/ahnlauriehenry/'><li><p class="paragraph">LinkedIn profile</p></li></a>
                <a href=''><li><p class="paragraph">GitHub</p></li></a>
            </ul>
        </div>

    </body>

</html>